<table>
<% 
var i;
for (i=0;i < quizes.length;i++){ %>
	<tr>
		<td>
			<a href = "/quizes/<%= quizes[i].id %>" > <%= quizes[i].pregunta %> </a>
		</td>
		<td>
			<a href = "/quizes/<%= quizes[i].id %>/edit" ><button type="button">Editar</button> </a>
		</td>
	</tr>

	<p><a href = "/quizes"></a></p>
<%
}
%>
</table>

<form method = 'get' action='/quizes'>
	Ver solo las preguntas que contengan el siquiente texto:<p>
	<input type="text" name="search" placeholder="Responda aqui"/>  
	<input type ="submit" value="Enviar">
</form>

<p><a href = "/quizes/new"><button type="button">Crear pregunta</button></a></p>